body {
    color: white;
    background-color: #52616b;
    text-align: center;
}

.title {
    margin: 2rem 0 0 0;
}
.tagline {
    margin: 0.3rem 0 1.5rem 0;
    font-family: 'Merriweather', serif;
}

/* Player Component Classes */

.Player {
    border-radius: 25px;
    background-color: #ff7272;
    margin: 5rem 10rem;
    padding: 5rem 0;
}

.main-icon{
    margin: 0 0.75rem;
}
.normal-icon{
    width: 50px;
    margin: 0.5rem 0;
}

.song-title {
    margin: 0;
}
.song-artist {
    margin: 0.5rem 0 1rem 0;
}


/* Queue Component classes */

.Queue {
  background-color: #ffa4a1;
  margin: 0.5rem 10rem;
  padding: 2.5rem 2rem;
  border-radius: 15px;
}

.queue-listinfo {
    color: #ff7272;
    margin: 0.5rem 0;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    text-align: left;
  }

.queue-song {
  background-color: #ff7272;
  margin: 0.5rem 0;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  text-align: left;
}

.queue-song-artist {
    position: absolute;
    left: 50%;
}

.queue-song-album {
    position: absolute;
    left: 64%;
}

.queue-song-duration {
    position: absolute;
    left: 82%;
}
