body {
    color: white;
    background-color: #ff7272;
    text-align: center;
}

.title {
    margin: 0.67rem 0 0 0;
}
.tagline {
    margin: 0.3rem 0 1.5rem 0;
}

/* Player Component Classes */

.Player {
    border-radius: 25px;
    background-color: #52616b;
    background-image: url("images/background.jpg");
    margin: 5rem 10rem;
    padding: 5rem 0;
}

.main-icon{
    margin: 0 0.75rem;
}
.normal-icon{
    width: 50px;
    margin: 0.5rem 0;
}

.song-title {
    margin: 0;
}
.song-artist {
    margin: 0.5rem 0 1rem 0;
}